<!DOCTYPE html>
<html>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}

    <head>
        <title>NMunro | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "/css/solarized-dark-theme.css" %}"/>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">NMunro</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if active == "blog" %}
                            <li class="active"><a href="/blog">Blog</a></li>
                        {% else %}
                            <li><a href="/blog">Blog</a></li>
                        {% endif %}

                        {% if active == "education" %}
                            <li class="active"><a href="/education">Education</a></li>
                        {% else %}
                            <li><a href="/education">Education</a></li>
                        {% endif %}

                        {% if active == "employment" %}
                            <li class="active"><a href="/employment">Employment</a></li>
                        {% else %}
                            <li><a href="/employment">Employment</a></li>
                        {% endif %}

                        {% if active == "proverbs" %}
                            <li class="active"><a href="/proverbs">Proverbs</a></li>
                        {% else %}
                            <li><a href="/proverbs">Proverbs</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <span>Copyright &copy; Neil Munro</span>
                        &nbsp;[&nbsp;<a target="_blank" href="https://github.com/nmunro" class="text-muted link">GitHub</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a target="_blank" href="https://twitter.com/neil_munro" class="text-muted link">Twitter</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a href="mailto:neilmunro@gmail.com" class="text-muted link">Email</a>&nbsp;]
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {% bootstrap_javascript %}
    </body>
</html>
