{% extends 'base.html' %}

{% block title %}Education{% endblock %}

{% block content %}
    {% for est in education %}
        <div class="well">
            <h2>{{ est.qualification }} {{ est.course }}&nbsp;|&nbsp;{{ est.institution }} ({{ est.enrolled|date:"SHORT_DATE_FORMAT" }} - {{ est.completed|date:"SHORT_DATE_FORMAT" }})</h2>
            {{ est.description }}
        </div>
    {% empty %}
        <div class="well">
            <h2>No qualifications.</h2>
        </div>
    {% endfor %}
{% endblock %}
