{% extends 'base.html' %}
{% block title %}Employment{% endblock %}
{% block content %}
    {% for em in employers %}
        <div class="well">
            <h2>
                {{ em }} ({{ em.started|date:"SHORT_DATE_FORMAT" }}
                &nbsp;-&nbsp;
                {% if em.current %}
                    Present)</h2>
                {% else %}
                    {{ em.ended|date:"SHORT_DATE_FORMAT" }})</h2>
                {% endif %}
            {% autoescape off %}
                {{ em.description }}
            {% endautoescape %}
        </div>
    {% empty %}
        <div class="well">
            <h2>No employment history available.</h2>
        </div>
    {% endfor %}
{% endblock %}
